extends templates/layout
block main
    form.col.s12(method="post", action=`/portal/events/edit/${event.id}`)
        .row
            .input-field.col.s12
                input#id.validate(type='text', name="title", value=event.id, required, disabled)
                label(for='id') ID
        .row
            .input-field.col.s6
                input#title.validate(type='text', name="title", value=event.title, required)
                label(for='title') Event title
            .input-field.col.s6
                input#tbid.validate(type='text', value=event.tbid, name="tbid")
                label(for='tbid') Ticketbutler event ID
        .row
            .input-field.col.s6
                input#start-date.datepicker(type='text', name="startDate", value=startTime, required)
                label(for='start-date') Event start date
            //- .input-field.col.s6
            //-     input#start-time.timepicker(type='text', name="startTime", value=startTime.time)
            //-     label(for='start-time') Event start time
            .input-field.col.s6
                input#end-date.datepicker(type='text', name="endDate", value=endTime, required)
                label(for='end-date') Event end date
            //- .input-field.col.s6
            //-     input#end-time.timepicker(type='text', name="endTime")
            //-     label(for='end-time') Event end time
        .row
            .input-field.col.s12
                select(name="printer")
                    if event.printerId
                        option(value=event.printerId)=event.printerId
                    option(value='')
                    for printer in printers
                        option(value=printer.id)=printer.identifier
                label Printer
        .row
            a.btn.waves-effect.waves-light(href=`/portal/templates/${event.id}`) Check template
        .row
            button.btn.waves-effect.waves-light(type='submit', name='action')
                | Submit
                i.material-icons.right send
    
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems);

            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
        //- document.addEventListener('DOMContentLoaded', function() {
        //-     var elems = document.querySelectorAll('.timepicker');
        //-     var instances = M.Timepicker.init(elems, {format: 'yyyy-mm-dd'});
            
        //- });
