extends templates/layout
block main
    .row.padding-top
        form.col.s12(method="post", action="/portal/events/update")
            .row
                .input-field.col.s6
                    input#id.validate(type='text', name="title", value=printer.id, required, disabled)
                    label(for='id') ID
                .input-field.col.s6
                    input#title.validate(type='text', name="title", value=printer.identifier, required)
                    label(for='title') Identifier
    .row
        ul.collection.with-header
            li.collection-header
                h4 Events
            if printer.events.length !== 0
                for event in printer.events
                    li.collection-item
                        div
                            b=`${event.title} | ${event.startDate.getFullYear()}/${event.startDate.getMonth() < 10 ? '0' + event.startDate.getMonth() : event.startDate.getMonth()}/${event.startDate.getDate() < 10 ? '0' + event.startDate.getDate() : event.startDate.getDate()} - ${event.endDate.getFullYear()}/${event.endDate.getMonth() < 10 ? '0' + event.endDate.getMonth() : event.endDate.getMonth()}/${event.endDate.getDate() < 10 ? '0' + event.endDate.getDate() : event.endDate.getDate()}`
                            a.secondary-content(href=`/portal/events/edit/${event.id}`)
                                i.material-icons send
            else
                li.collection-item
                    div
                        b No events assigned to the printer