extends templates/layout
block main
    form.col.s12(method="POST", enctype="multipart/form-data", action="/portal/templates/upload")
        input(type="text",hidden=true, name="eventId", value=eventId)
        if template
            if template.id
                input(type="text",hidden=true, name="id", value=template.id)
        .row
            .file-field.input-field.col.s12
                .btn
                    span File
                    input(type='file', name="image")
                .file-path-wrapper
                    input.file-path.validate(type='text')
        .row
            .input-field.col.m6.s12
                select(name="label")
                    if template
                        if template.label
                            option(value=template.label)=template.label
                    option(value="") Select a label
                    option(value="12") 12
                    option(value="29") 29
                    option(value="38") 38
                    option(value="50") 50
                    option(value="54") 54
                    option(value="62") 62
                    option(value="102") 102
                    option(value="17x54") 17x54
                    option(value="17x87") 17x87
                    option(value="23x23") 23x23
                    option(value="29x42") 29x42
                    option(value="29x90") 29x90
                    option(value="39x90") 39x90
                    option(value="39x48") 39x48
                    option(value="52x29") 52x29
                    option(value="62x29") 62x29
                    option(value="62x100") 62x100
                    option(value="102x51") 102x51
                    option(value="102x152") 102x152
            .input-field.col.m6.s12
                select(name="printer")
                    if template
                        if template.printer
                            option(value=template.printer)=template.printer
                    option(value="") Select a printer
                    option(value="QL-500") QL-500
                    option(value="QL-550") QL-550
                    option(value="QL-560") QL-560
                    option(value="QL-570") QL-570
                    option(value="QL-580N") QL-580N
                    option(value="QL-650TD") QL-650TD
                    option(value="QL-700") QL-700
                    option(value="QL-710W") QL-710W
                    option(value="QL-720NW") QL-720NW
                    option(value="QL-800") QL-800
                    option(value="QL-810W") QL-810W
                    option(value="QL-820NWB") QL-820NWB
                    option(value="QL-1050") QL-1050
                    option(value="QL-1060N") QL-1060N
                //- label(for="printer") Printer
        .row
            .input-field.col.s4
                select(name="font")
                    if template
                        if template.font
                            option(value=template.font)=template.font
                    option(value="") Select a font
                    option(value="test") test
            .input-field.col.s2
                span DPI_600
                .switch
                    label
                        | Off
                        if template
                            input(type='checkbox', name="dpi_600", checked=template.dpi_600)
                        else
                            input(type='checkbox', name="dpi_600", checked=false)
                        span.lever
                        | On
            .input-field.col.s2
                span Red
                .switch
                    label
                        | Off
                        if template
                            input(type='checkbox', name="red", checked=template.red)
                        else
                            input(type='checkbox', name="red", checked=false)
                        span.lever
                        | On

        button.btn.waves-effect.waves-light(type='submit', name='action')
                | Submit
                i.material-icons.right send
    if template
        if template.textfields.length
            for textField in template.textfields
                form.col.s12(method="POST", action="/portal/templates/textfield/update")
                    .row
                        input(hidden=true, value=eventId, name="eventId")
                        input(hidden=true, value=textField.id, name="id")
                        .input-field.col.m4.s8
                            input#placeholder.validate(type='text', name="placeholder", value=textField.placeholder, required)
                            label(for='placeholder') Placeholder
                        .input-field.col.m1.s4
                            input#font_size.validate(type='number', name="font_size", value=textField.font_size min=12, max=250, required)
                            label(for='font_size') Font size
                        .input-field.col.m1.s3
                            input#x.validate(type='number', name="x", value=textField.x)
                            label(for='x') X
                        .input-field.col.m1.s3
                            input#y.validate(type='number', name="y", value=textField.y, required)
                            label(for='y') Y
                        .input-field.col.m3.s6
                            select#align(name="align", onChange="selectAlign()")
                                option(value=textField.align)=textField.align
                                option(value="") Select alignment
                                option(value="right") Right
                                option(value="center") Center
                        .col.m1.s3
                            button.btn.waves-effect.waves-light(type='submit', name='action')
                                | Update
                                i.material-icons.right send
                        .col.m1.s3
                            a.btn.waves-effect.waves-light(href=`/portal/templates/textfield/remove/${eventId}/${textField.id}`)
                                | Delete
        else 
            h4 No textfields
        a.btn.waves-effect.waves-light(href=`/portal/templates/textfield/add/${eventId}/${template.id}`)
            | Add a field
            i.material-icons.right add
        .row
        if template.image
            img.display-img(src=template.image)
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        function selectAlign() {
            var select = document.getElementById('align');
            if(select.value === 'center') {
                document.getElementById('x').disabled = true
            } else {
                document.getElementById('x').disabled = false
            }
        }